<div class="container">


    <div id="island" class="form">
        <p class="form-title">Add your car</p>

        <!-- Input pentru brand-->
        <div class="input-container">
            <input #brandInput placeholder="Enter brand" type="text">
            <span>
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                        stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
            </span>
        </div>

        <!-- Input pentru model -->
        <div class="input-container">
            <input #modelInput placeholder="Enter model" type="text">
            <span>
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-width="2" stroke-linejoin="round"
                        stroke-linecap="round"></path>
                    <path
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                        stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
            </span>
        </div>

        <!-- Input pentru an -->
        <div class="input-container">
            <input #yearInput placeholder="Enter year" type="text">
            <span>
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-width="2" stroke-linejoin="round"
                        stroke-linecap="round"></path>
                    <path
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                        stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
            </span>
        </div>

        <!-- Input pentru culoare -->
        <div class="input-container">
            <input #colorInput placeholder="Enter color" type="text">
            <span>
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-width="2" stroke-linejoin="round"
                        stroke-linecap="round"></path>
                    <path
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                        stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
            </span>
        </div>

        <!-- Input pentru pret -->
        <div class="input-container">
            <input #priceInput placeholder="Enter price" type="text">
            <span>
                <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-width="2" stroke-linejoin="round"
                        stroke-linecap="round"></path>
                    <path
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                        stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
            </span>
        </div>

        <!-- Buton pentru submit -->
        <button class="submit" (click)="submit_car(brandInput.value, modelInput.value, yearInput.value, colorInput.value, priceInput.value)">
            Add car
        </button>

    </div>



    <p class="agency_name"> {{agency_details.agency_name}} </p>

    <div class="cars_container">
        <div class="cars">
            <div class="car" *ngFor="let car of current_cars" (click)= "view_car(car)">
                <p>Brand:{{car.car_brand}} Model:{{car.car_model}} An fabricatie:{{car.car_year}}
                    Culoare:{{car.car_color}} Pret:{{car.car_hour_price}} Disponibilitate:{{car.is_used}}</p>
            </div>
        </div>

        <button class="add_car_button" (click)="add_car()">Adauga masina</button>

    </div>

    <div #mapViewNode class="map-view"></div>

</div>